<header class="fixed w-100 top-0 z-5">
	<!-- Logo -->
	<div class="center mw8 w-90 flex items-center pv3">
		<h1 class="mn flex-grow">
			<a class="f1 b link black" href="/">Bokeh</a>
		</h1>
		<button class="nav-button input-reset bg-black pa3 br-100 bn white" type="button" name="button">Menu</button>
	</div>
</header>

<!-- Primary Nav -->
<nav id="nav" class="main-nav fixed z-4 bg-near-black w-100 white">
	<div class="center mw8 w-90 pt6 pb5">
		<div class="w-50 lh-title pl5 pt5 relative">
			<div class="contact-button absolute br-100 gradient b left-0 bottom-2 ph3 pv2">+</div>
			<p class="f2 mb4 white">We are always looking for creative partners, so get in touch.</p>
			<!-- <a class="f2 db fw7 link white" href="#">hello@bokeh.agency</a>
			<a class="f2 db fw7 link white" href="#">415 483 5042</a> -->
		</div>
		<ul class="tr w-100">
			<li class="w-100 pv3">
				<a href="/products" class="link white f1 fw7">Studio</a>
			</li>
			<li class="w-75 pv3">
				<a href="/values" class="link white f1 fw7">Work</a>
			</li>
			<li class="w-50 pv3">
				<a href="/post" class="link white f1 fw7">Services</a>
			</li>
		</ul>
	</div>
</nav>
