<header class="fixed w-100 top-0 z-5">
	<!-- Logo -->
	<div class="center mw8 w-90 flex items-center pv3">
		<h1 class="mn flex-grow">
			<a class="f1 b link black" href="/">Bokeh</a>
		</h1>
		<button class="nav-button input-reset bg-black pa3 br-100 bn white pointer" type="button" name="button">Menu</button>
	</div>
</header>

<!-- Primary Nav -->
<nav id="nav" class="main-nav fixed z-4 w-100 white">
	<svg id="nav-bg" class="absolute left-0 w-100 h-100"></svg>
	<div class="center mw8 w-90 pt6 pb5">
		<div class="contact-wrapper w-50 lh-title pl5 pt5 relative">
			<div class="contact-button absolute br-100 gradient b left-0 bottom-2 ph3 pv2">+</div>
			<div class="contact-move">
				<p class="f2 mb4 white contact-heading">We are always looking for creative partners, so get in touch.</p>
				<div class="contact-info">
					<a class="f2 db fw7 link white" href="#">hello@bokeh.agency</a>
					<a class="f2 db fw7 link white" href="#">415 483 5042</a>
				</div>
			</div>
		</div>
		<ul class="tr w-100">
			<li class="w-100 pv3">
				<div class="dib flip">
					<a href="/products" class="link white f1 fw7 underline hover-underline dib flipper">Studio</a>
				</div>
			</li>
			<li class="w-75 pv2">
				<div class="dib flip">
					<a href="/values" class="link white f1 fw7 underline hover-underline dib flipper">Work</a>
				</div>
			</li>
			<li class="w-50 pv2">
				<div class="dib flip">
					<a href="/post" class="link white f1 fw7 underline hover-underline dib flipper">Services</a>
				</div>
			</li>
		</ul>
	</div>
</nav>
