{#
 # Project entry template
 # -------------------
 #
 # This template gets loaded whenever a Projects entry’s URL is
 # requested. That’s because the Projects section’s Template setting is
 # set to projects/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested Projects entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
  <article class="case-study">
    <header class="cover pt7 pb6-ns pb5 tc relative" style="background:url({% for asset in entry.image %}{{ siteUrl }}{{ asset.url }}{% endfor %}) no-repeat center center">
      <div class="case-study-overlay absolute left-0 top-0 right-0 bottom-0"></div>
      <div class="ph4-ns ph3 mw8 center f-subheadline-l f1-ns f2 white lh-title relative">
        <h1>{{ entry.headingParagraph | striptags }}</h1>
      </div>
    </header>
    <div class="case-study-container mb5">
      <div class="bg-white intro-blurb pt5-ns pt4 pb4 relative">{{ entry.introParagraph }}</div>
      {% for block in entry.projectBlocks %}

        {% if block.type == "text" %}

          {{ block.copy }}

        {% elseif block.type == "quote" %}

          <blockquote>
            <h2>{{ block.quote }}</h2>
            <p>{{ block.personsName }}, {{ block.jobTitle }}</p>
          </blockquote>

        {% elseif block.type == "video" %}

          {% set id = block.videoUrl|replace('/(http:|https:|)\\/\\/(player.|www.)?(vimeo\\.com|youtu(be\\.com|\\.be|be\\.googleapis\\.com))\\/(video\\/|embed\\/|watch\\?v=|v\\/)?([A-Za-z0-9._%-]*)(\\&\\S+)?/', '$6') %}

          {% set service = block.videoUrl|lower|replace('/(http:|https:|)\\/\\/(player.|www.)?(vimeo\\.com|youtu(be\\.com|\\.be|be\\.googleapis\\.com))\\/(video\\/|embed\\/|watch\\?v=|v\\/)?([A-Za-z0-9._%-]*)(\\&\\S+)?/', '$3') %}

          <div class="contained">
            <div class="video-wrapper relative">
              {% if 'youtu' in service %}
              <iframe class="hp-video absolute top-0 left-0 w-100 h-100" src="http://www.youtube.com/embed/{{ id }}" frameborder="0" width="640" height="360" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
              {% else %}
              <iframe class="hp-video absolute top-0 left-0 w-100 h-100" src="http://player.vimeo.com/video/{{ id }}" frameborder="0" width="640" height="360" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
              {% endif %}
            </div>
            {% if block.caption %}
              <p class="caption">{{ block.caption }}</p>
            {% endif %}
          </div>

        {% elseif block.type == "inlineImage" %}

          {% for asset in block.image %}
            <img class="contained" src="{{ siteUrl }}{{ asset.url }}" alt="{{ asset.title }}">
          {% endfor %}

        {% elseif block.type == "fullWidthImage" %}

          {% for asset in block.image %}
            <img class="full" src="{{ siteUrl }}{{ asset.url }}" alt="{{ asset.title }}">
          {% endfor %}

        {% elseif block.type == "twoUpImages" %}

          <div class="two-up image-grid">
            <div class="image">
              {% for asset in block.firstImage %}
                <img src="{{ siteUrl }}{{ asset.url }}" alt="{{ asset.title }}">
              {% endfor %}
            </div>
            <div class="image">
              {% for asset in block.secondImage %}
                <img src="{{ siteUrl }}{{ asset.url }}" alt="{{ asset.title }}">
              {% endfor %}
            </div>
          </div>

        {% elseif block.type == "threeUpImages" %}

          <div class="image-grid three-up">
            {% for asset in block.firstImage %}
              <div class="image" style="background: url({{ siteUrl }}{{ asset.url }}) no-repeat center;"></div>
            {% endfor %}
            <div class="image">
              {% for asset in block.secondImage %}
                <img src="{{ siteUrl }}{{ asset.url }}" alt="{{ asset.title }}">
              {% endfor %}
            </div>
            <div class="image">
              {% for asset in block.thirdImage %}
                <img src="{{ siteUrl }}{{ asset.url }}" alt="{{ asset.title }}">
              {% endfor %}
            </div>
          </div>

        {% elseif block.type == "fiveUpImages" %}

          <div class="image-grid five-up">
            <div class="image">
              {% for asset in block.firstImage %}
                <img src="{{ siteUrl }}{{ asset.url }}" alt="{{ asset.title }}">
              {% endfor %}
            </div>
            <div class="image">
              {% for asset in block.secondImage %}
                <img src="{{ siteUrl }}{{ asset.url }}" alt="{{ asset.title }}">
              {% endfor %}
            </div>
            <div class="image">
              {% for asset in block.thirdImage %}
                <img src="{{ siteUrl }}{{ asset.url }}" alt="{{ asset.title }}">
              {% endfor %}
            </div>
            <div class="image">
              {% for asset in block.fourthImage %}
                <img src="{{ siteUrl }}{{ asset.url }}" alt="{{ asset.title }}">
              {% endfor %}
            </div>
            <div class="image">
              {% for asset in block.fifthImage %}
                <img src="{{ siteUrl }}{{ asset.url }}" alt="{{ asset.title }}">
              {% endfor %}
            </div>
          </div>

        {% elseif block.type == "videoCarousel" %}

          <div class="article-swiper-container swiper-container">
            <div class="swiper-wrapper">
              {% for row in block.video %}
                {% set id = row.video|replace('/(http:|https:|)\\/\\/(player.|www.)?(vimeo\\.com|youtu(be\\.com|\\.be|be\\.googleapis\\.com))\\/(video\\/|embed\\/|watch\\?v=|v\\/)?([A-Za-z0-9._%-]*)(\\&\\S+)?/', '$6') %}

                {% set service = row.video|lower|replace('/(http:|https:|)\\/\\/(player.|www.)?(vimeo\\.com|youtu(be\\.com|\\.be|be\\.googleapis\\.com))\\/(video\\/|embed\\/|watch\\?v=|v\\/)?([A-Za-z0-9._%-]*)(\\&\\S+)?/', '$3') %}

                <div class="swiper-slide">
                  <div class="video-wrapper relative">
                    {% if 'youtu' in service %}
                    <iframe class="hp-video absolute top-0 left-0 w-100 h-100" src="http://www.youtube.com/embed/{{ id }}" frameborder="0" width="640" height="360" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                    {% else %}
                    <iframe class="hp-video absolute top-0 left-0 w-100 h-100" src="http://player.vimeo.com/video/{{ id }}" frameborder="0" width="640" height="360" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                    {% endif %}
                  </div>
                  {% if row.caption %}
                    <p class="caption">{{ row.caption }}</p>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
            <button class="swiper-button-next input-reset button-reset bn">
              {% include 'partials/icons/chevronRight.html' %}
            </button>
            <button class="swiper-button-prev input-reset button-reset bn">
              {% include 'partials/icons/chevronLeft.html' %}
            </button>
          </div>

        {% elseif block.type == "imageCarousel" %}

          <div class="article-swiper-container swiper-container">
            <div class="swiper-wrapper">
              {% for row in block.image %}
                <div class="swiper-slide">
                  {% for asset in row.image %}
                    <img class="contained" src="{{ siteUrl }}{{ asset.url }}" alt="{{ asset.title }}">
                  {% endfor %}
                  {% if row.caption %}
                    <p class="caption">{{ row.caption }}</p>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
            <button class="swiper-button-next input-reset button-reset bn">
              {% include 'partials/icons/chevronRight.html' %}
            </button>
            <button class="swiper-button-prev input-reset button-reset bn">
              {% include 'partials/icons/chevronLeft.html' %}
            </button>
          </div>

        {% endif %}

      {% endfor %}
    </div>
  </article>
  <!-- Next Article -->
  {# Set parameters for prev/next elements list #}
  {% set params = craft.entries.section('projects').order('postDate asc') %}

  {# Get the next elements #}
  {% set prevEntry = entry.getPrev(params) %}

  {# And make sure to only output the links if the element exists #}
  {% if prevEntry %}
    <a href="{{ prevEntry.url }}" style="background:url({% for asset in prevEntry.image %}{{ siteUrl }}{{ asset.url }}{% endfor %}) no-repeat center center" class="cover next-case-study db lh-title link white relative">
      <div class="feat-case-study__slide__overlay next-case-study__overlay" style="background-color:{{ prevEntry.color }}"></div>
      <div class="mw7 tc center ph3 pv5 relative">
        <span class="db mb4 white-90 f4">Next Project</span>
        <span class="f1-l f2 mv4">{{ prevEntry.headingParagraph | striptags }}</span>
      </div>
    </a>
  {% endif %}

  <script src="{{ siteUrl }}assets/js/article.js"></script>

{% endblock %}
