.feat-case-study__slide__shape {
  z-index: 1;
}

.next-case-study__overlay {
  opacity: .6;
}

.feat-case-study__slide .slide__title a {
  text-decoration: none;
  color: #000;
  opacity: .6;
  transition: var(--transition-default);
}

.feat-case-study__slide .slide__title a:hover {
  color: #fff;
  opacity: 1;
}

.feat-case-study__content {
  transform: translate3d(0,0,0);
}

.feat-case-study__slide.slide-2 .feat-case-study__content {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  @media (min-width: 1300px) {
    bottom: 5%;
  }
}

.feat-case-study__slide.slide-1 .feat-case-study__slide__shape {
  & svg {
    position: absolute;
    max-width: inherit;
    left: -450px;
    top: -200px;
    @media (max-width: 600px) {
      transform: scale(0.8);
    }
    @media (min-width: 600px) {
      left: -300px;
    }
    @media (min-width: 993px) {
      top: -75%;
      transform: scale(1);
    }
    @media (min-width: 1040px) {
      left: -350px;
    }
  }
}

.feat-case-study__slide.slide-2 .feat-case-study__slide__shape {
  & svg {
    position: absolute;
    max-width: inherit;
    @media (min-width: 993px) {
      left: -130px;
      top: -150px;
    }
    @media (min-width: 1040px) {
      top: -100px;
      left: -250px;
    }
  }
}

.feat-case-study__slide.slide-3 .feat-case-study__slide__shape {
  & svg {
    position: absolute;
    max-width: inherit;
    left: -310px;
    top: -215%;
    @media (min-width: 600px) {
      transform: scale(1.2);
      top: -330px;
      left: -130px;
    }
    @media (min-width: 650px) {
      transform: scale(1.5);
    }
    @media (min-width: 993px) {
      top: -160px;
      left: -230px;
      transform: scale(1);
    }
  }
}

.feat-case-study__slide.slide-3 .slide__overlay--mingle {
  width: 90%;
}

@media (max-width: 400px) {
  .feat-case-study__slide .slide__title {
    font-size: 1.5rem;
  }
}
