.feat-case-study__slide {
  overflow: hidden;
}

.feat-case-study__slide .slide__title a {
  text-decoration: none;
  color: #000;
  opacity: .6;
  transition: var(--transition-default);
}

.feat-case-study__slide .slide__title a:hover {
  color: #fff;
  opacity: 1;
}

@media (max-width: 400px) {
  .feat-case-study__slide .slide__title {
    font-size: 1.5rem;
  }
}

.feat-case-study__content {
  transform: translate3d(0,0,0);
}

.feat-case-study__slide__shape {
  z-index: 1;
}

/* SHAPE/CONTENT POSITIONING IN css/custom/_hp-shape-position */
