/*Fonts*/

@font-face {
    font-family: "Circular";
    src:url("../fonts/lineto-circular-book.eot");
    src:url("../fonts/lineto-circular-book.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-book.woff2") format("woff2"),
        url("../fonts/lineto-circular-book.woff") format("woff");
    font-weight: 400;
    font-style: 400;
}

@font-face {
    font-family: "Circular";
    src: url("../fonts/lineto-circular-medium.eot");
    src: url("../fonts/lineto-circular-medium.eot?#iefix") format("embedded-opentype"),
         url("../fonts/lineto-circular-medium.woff2") format("woff2"),
         url("../fonts/lineto-circular-medium.woff") format("woff");
    font-weight: 600;
    font-style: 600;
}

@font-face {
    font-family: "Circular";
    src:url("../fonts/lineto-circular-black.eot");
    src:url("../fonts/lineto-circular-black.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-black.woff2") format("woff2"),
        url("../fonts/lineto-circular-black.woff") format("woff");
    font-weight: 700;
    font-style: 700;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html body, input {
  font-family: var(--openSans);
}

h1, h2, h3, h4, h5, button {
  font-family: var(--circular);
  font-weight: 700;
}
