::-moz-selection {
  color: #df3f28;
  background: rgba(0,0,0,.9);
}
::selection {
  color: #df3f28;
  background: rgba(0,0,0,.9);
}

hr {
  height: 2px;
}

.video-wrapper {
  padding-top: 56.25%;
  height: 0px;
}

.swiper-button-prev,
.swiper-button-next {
  background: none !important;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding-top: 6px;
  border: 2px solid rgba(0,0,0,.2);
  line-height: 1;
  transition: var(--transition);
}

.swiper-button-prev {
  left: 30px;
  text-indent: -3px;
}

.swiper-button-next {
  right: 30px;
  text-indent: 3px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  border-color: #000;
}

svg .icon {
  transition: var(--transition);
}

.no-scroll {
  max-height: 100vh;
  overflow: hidden;
}

.text-shadow {
  text-shadow: 0 0.03em 0.04em rgba(0,0,0,.15);
}

.slide__image {
  opacity: 0;
  transform: scale(1.25) translateX(10%);
  transition: transform 4s cubic-bezier(0.19, 1, 0.22, 1), opacity 1s ease-in;
}

.slide__imageFade {
  transform: translate3d(0,0,0);
  top: auto;
  bottom: 0;
  left: 0;
  height: 60%;
  width: 100%;
  @media (min-width: 768px) {
    top: 0;
    bottom: auto;
    left: auto;
    right: 0;
    height: 100%;
    width: 60%;
  }
}

.slide__overlay {
  opacity: 1;
  transition: opacity 1.5s ease-out;
}

.slide__overlay--mingle {
  width: 100%;
  top: 100%;
  height: 60%;
  transform: translate3d(0,0,0);
  @media (min-width: 768px) {
    left: 100%;
    top: 0;
    height: 100%;
    width: 60%;
  }
}

.swiper-slide.swiper-slide-active {
  & .slide__image {
    opacity: 1;
    transform: scale(1.25) translateX(0);
  }
  & .slide__overlay {
    opacity: .6;
  }
}
