.gradient--red {
  background: linear-gradient(270deg, #F62944, #FEAE5A);
}

.gradient--blue-and-yellow {
  background: linear-gradient(270deg, #6BC2C3, #F4AD17);
}

.gradient--yellow-and-red {
  background: linear-gradient(270deg, #F4AD17, #c6483b);
}

.gradient {
  background-size: 400% 400%;

  animation: animateGradient 30s ease infinite;
}

@keyframes animateGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
