.hp-slide1__text {
  transition: var(--transition-medium);
}

.hp-slide1__headline {
  @media (max-width: 460px) {
    font-size: 2.3rem;
  }

  @media (min-width: 1040px) and (max-width: 1235px) {
    font-size: 3.3rem;
  }
}

.hp-slide1 .hp-slide1__text.ready-to-animate {
  transform: translateY(10%) translate3d(0,0,0);
  opacity: 0;
}

.hp-slide1__shape {
  bottom: -350px;
  left: -260px;

  @media (min-width: 1236px) {
    bottom: -300px
  }
}

.hp-slide1__headline {
  line-height: 1.15;
  @media (max-height: 400px) {
    font-size: 1.7rem;
  }
}

.hp-slide1 .hp-slide1__cover {
  opacity: .5;
}


.hp-slide1 .hp-slide1__cover,
.hp-slide1 .hp-slide1__text,
.hp-slide1 .hp-slide1__shape {
  transform: translate3d(0,0,0);
}

.hp-video-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translate3d(0,0,0);
}

.hp-video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hp-video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 115%;
  min-height: 115%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


html {
  @media (max-width: 991px) {
    position: relative;
    height: 100%;
    & body,
    & #content,
    & .home {
      position: relative;
      height: 100%;
    }

    & .swiper-container {
      width: 100%;
      height: 100%;
    }
  }
}

.wordList {
  position: relative;
  text-shadow: 0 .06em .08em rgba(0,0,0,.25);
  & span:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.3;
  }

  & span {
    display: inline-block;
    transition: var(--transition);
  }
}

.next-slide__icon {
  top: 50%;
  right: 40px;
  display: inline-block;
  padding: 10px;
  line-height: 1px;
  border-radius: 50%;
  transform: translateY(-50%);
  display: none;
  transition: var(--transition-default);
  @media (min-width: 44em) {
    display: block;
  }
}

.next-slide__icon:hover {
  transform: translateY(-50%) scale(1.1);
  cursor: pointer;
}
