.hp-slide1__text {
  transition: var(--transition-medium);
}

.hp-slide1__headline {
  @media (max-width: 460px) {
    font-size: 2.3rem;
  }
}

button.next-slide {
  &:after {
    background: #000;
  }
}

.hp-slide1 .hp-slide1__text.ready-to-animate {
  transform: translateY(10%) translate3d(0,0,0);
  opacity: 0;
}

.hp-slide1__shape {
  width: 885px;
  bottom: -630px;
  left: -300px;

  @media (min-with: 401px) {
    bottom: -600px;
  }
}

.hp-slide1__imageFade {
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 25%;
    right: 0;
    background: linear-gradient(to left, #F4AD17 0%, #F4AD17 20%, rgba(255,255,255,0) 100%);
  }
}

.hp-slide1 .hp-slide1__cover {
  opacity: .7;
  background: #F4AD17;
}

.hp-slide1__overlay--mingle {
  left: 100%;
  width: 75%;
  background: linear-gradient(to left, rgba(255,255,255,0) 0%, #F4AD17 90%, #F4AD17 100%)
}


.hp-slide1 .hp-slide1__cover,
.hp-slide1 .hp-slide1__text,
.hp-slide1 .hp-slide1__shape {
  transform: translate3d(0,0,0);
}

.hp-video-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translate3d(0,0,0);
}

.hp-video-wrapper video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.mobile-swiper {
  position: relative;
  height: 100%;
  & body,
  & .home {
    position: relative;
    height: 100%;
  }

  & .swiper-container {
    width: 100%;
    height: 100%;
  }
}
