.main-nav {
  transform: scale(.3,.3) translateY(-40%);
  transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: left top;
}

.open .main-nav {
  transform: scale(1,1) translateY(0%);
}

.nav__links li {
  opacity: 0;
  transform: translateY(10%);
  transition: var(--transition-slow);
}

@media (min-width: 44em) {
  .nav__links li {
    transform: translateY(40%);
  }
}

.open .nav__links li:first-child {
  transition-delay: 1.2s;
}

.open .nav__links li:nth-child(2) {
  transition-delay: 1s;
}

.open .nav__links li:nth-child(3) {
  transition-delay: .8s;
}

.open .nav__links li {
  opacity: 1;
  transform: translateY(0);
}

.contact-info-mobile {
  transform: translateY(40%);
  transition: var(--transition-slow);
}

.open .contact-info-mobile {
  transform: translateY(0);
  transition-delay: .4s;
}

.contact-info-mobile a {
  opacity: 0;
  transform: translateY(10%);
  transition: var(--transition-slow);
}

.open .contact-info-mobile a:first-child {
  transition-delay: .6s;
}

.open .contact-info-mobile a:nth-child(3) {
  transition-delay: .4s;
}

.open .contact-info-mobile a {
  opacity: 1;
  transform: translateY(0);
}

.contact-wrapper {
  opacity: 0;
  transform: translateX(-10%);
  transition: var(--transition-slow);
}

.open .contact-wrapper {
  transition-delay: .6s;
  opacity: 1;
  transform: translateX(0);
}

.contact-heading {
  transform: translateX(-20%);
  transition: var(--transition-slow);
}

.open .contact-heading {
  transition-delay: .6s;
  transform: translateX(0);
}

.nav-content {
  opacity: 0;
  transition: var(--transition);
}

.open .nav-content {
  opacity: 1;
}

.nav-button {
  width: 30px;
  height: 30px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  transition: var(--transition-default);
  cursor: pointer;
  outline: none;
  opacity: 1;
  margin-right: 1rem;
  top: -0.5rem;
}

.nav-button.hide {
  opacity: 0;
}

.nav-button:hover {
  transform: scale(1.1,1.1);
}

.nav-button span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: var(--near-black);
  border-radius: 2px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.nav-button span:nth-child(2) {
  top: 0px;
}

.nav-button span:nth-child(3), .nav-button span:nth-child(4) {
  top: 9px;
}

.nav-button span:nth-child(5) {
  top: 18px;
}

.nav-button .bg {
  top: -18px;
  left: -14px;
  width: calc(100% + 28px);
  height: calc(100% + 28px);
  padding: 16px;
  border-radius: 50%;
  @media (min-width: 650px) {
    top: -20px;
    left: -16px;
    width: calc(100% + 32px);
    height: calc(100% + 32px);
  }
}

.open .nav-button span {
  background: linear-gradient(270deg, #935b63, #df3f28);
  background-size: 400% 400%;

  animation: animateGradient 30s ease infinite;
}

.open .nav-button span:nth-child(2) {
  top: 9px;
  opacity:0;
}

.open .nav-button span:nth-child(3) {
  transform: rotate(45deg);
}

.open .nav-button span:nth-child(4) {
  transform: rotate(-45deg);
}

.open .nav-button span:nth-child(5) {
  top: 9px;
  width: 0%;
  left: 50%;
}

.flipper {
  transition: var(--transition) !important;
}

@media (min-width: 44em) {
  .flip:hover .flipper {
    transform: rotate(-180deg);
    transform-origin: center center;
  }
}

/* Logo */
.logo-svg {
  top: 0;
  margin-top: -30px;
  left: 0;
  transform-origin: center center;
  transition: var(--transition-slow);
}

.logo-svg.ready-to-animate {
  transform: translate(23vw, 36vh) scale(1.5);
  @media (min-width: 680px) {
    transform: translate(36vw, 42vh) scale(3);
  }
  @media (min-width: 1100px) {
    transform: translate(39vw, 42vh) scale(4);
  }
  @media (min-width: 1440px) {
    transform: translate(540px, 40vh) scale(4);
  }
}

.logo-svg .cls-2 {
  fill: var(--near-black);
}

.logo-svg .cls-2-animate {
  transition: var(--transition);
  fill: url(#MyGradient);
  opacity: 0;
}

.open .logo-svg .cls-2-animate {
  opacity: 1;
}

.contact-wrapper {
  padding-left: 110px;
}

.contact-info a {
  font-family: var(--circular);
}

.contact-button {
  width: 70px;
  height: 70px;
  bottom: 25px;
  transition: var(--transition-default);
}

.contact-button a {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -42%);
}

.contact-button:hover {
  transform: scale(1.1,1.1);
}

.mail svg {
  fill: #fff;
  width: 30px;
  height: auto;
}

#nav-bg {
  width: 1698px;
  left: 50%;
  transform: translateX(-53%) translateY(-22%);
}

.home .logo-svg {
  display: none;
}

.home .nav-button {
  opacity: 0;
}

.nav__links a {
  font-family: var(--circular);
}

/* Nav Full Viewport Background */
.nav-overlay {
  opacity: 0;
  transition: var(--transition);
  pointer-events: none;
  &.nav-open {
    opacity: .9;
    z-index: 4;
  }
}
