.open {
  overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.main-nav {
  transform: translate(40%, -100%);
  transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: left top;
}

.open .main-nav {
  transform: translate(0, 0);
}

.nav__links li {
  opacity: 0;
  transform: translateY(10%);
  transition: var(--transition-slow);
}

@media (min-width: 44em) {
  .nav__links li {
    transform: translateY(40%);
  }
}

.open .nav__links li:first-child {
  transition-delay: 1.2s;
}

.open .nav__links li:nth-child(2) {
  transition-delay: 1s;
}

.open .nav__links li:nth-child(3) {
  transition-delay: .8s;
}

.open .nav__links li {
  opacity: 1;
  transform: translateY(0);
}

.contact-info-mobile {
  transform: translateY(40%);
  transition: var(--transition-slow);
}

.open .contact-info-mobile {
  transform: translateY(0);
  transition-delay: .4s;
}

.contact-info-mobile a {
  opacity: 0;
  transform: translateY(10%);
  transition: var(--transition-slow);
}

.open .contact-info-mobile a:first-child {
  transition-delay: .6s;
}

.open .contact-info-mobile a:nth-child(3) {
  transition-delay: .4s;
}

.open .contact-info-mobile a {
  opacity: 1;
  transform: translateY(0);
}

.contact-wrapper {
  opacity: 0;
  transform: translateX(-10%);
  transition: var(--transition-slow);
}

.open .contact-wrapper {
  transition-delay: .6s;
  opacity: 1;
  transform: translateX(0);
}

.contact-heading {
  transform: translateX(-20%);
  transition: var(--transition-slow);
}

.open .contact-heading {
  transition-delay: .6s;
  transform: translateX(0);
}

.nav-content {
  opacity: 0;
  transition: var(--transition);
}

.open .nav-content {
  opacity: 1;
}

.nav-button {
  width: 30px;
  height: 30px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  transition: var(--transition-default);
  cursor: pointer;
  outline: none;
  opacity: 1;
  margin-right: 1rem;
  top: -0.5rem;
}

.nav-button.hide {
  opacity: 0;
}

.nav-button:hover {
  transform: scale(1.1,1.1);
}

.nav-button span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: var(--near-black);
  border-radius: 2px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.nav-button span:nth-child(2) {
  top: 0px;
}

.nav-button span:nth-child(3), .nav-button span:nth-child(4) {
  top: 9px;
}

.nav-button span:nth-child(5) {
  top: 18px;
}

.nav-button .navShapeContainer {
  position: absolute;
  top: -18px;
  left: -14px;
  @media (min-width: 650px) {
    top: -17px;
    left: -14px;
    transform: scale(1.1);
  }
}

.open .nav-button span {
  background: linear-gradient(270deg, #F62944, #FEAE5A);
  background-size: 400% 400%;

  animation: animateGradient 30s ease infinite;
}

.open .nav-button span:nth-child(2) {
  top: 9px;
  opacity:0;
}

.open .nav-button span:nth-child(3) {
  transform: rotate(45deg);
}

.open .nav-button span:nth-child(4) {
  transform: rotate(-45deg);
}

.open .nav-button span:nth-child(5) {
  top: 9px;
  width: 0%;
  left: 50%;
}

.flipper {
  transition: var(--transition) !important;
}

@media (min-width: 44em) {
  .flip:hover .flipper {
    transform: rotate(-180deg);
    transform-origin: center center;
  }
}

/* Logo */
.logo-svg {
  top: 0;
  margin-top: -30px;
  left: 0;
  transform-origin: center center;
  transition: var(--transition-slow);
}

.logo-svg.ready-to-animate {
  transform: translate(26vw, 36vh) scale(1.5);
  opacity: 0;
  @media (min-width: 680px) {
    transform: translate(39vw, 42vh) scale(3);
  }
  @media (min-width: 1100px) {
    transform: translate(41vw, 42vh) scale(4);
  }
  @media (min-width: 1440px) {
    transform: translate(600px, 40vh) scale(4);
  }
  & .cls-2-animate-home {
    opacity: 1;
  }
}

.logo-svg.visible {
  opacity: 1;
}

.hp-slide1__overlay {
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
  &.ready-to-animate {
    transition: none;
    opacity: 1;
  }
}


.logo-svg .cls-2 {
  fill: var(--near-black);
  transition: var(--transition);
  transform-origin: left top;
}

.logo-svg.strokeless {
  & .cls-3 {
     stroke: transparent;
  }
}

.logo-svg .cls-3 {
  stroke: black;
  stroke-width: 3.5px;
  stroke-location: outside;
  transition: stroke .1s ease-in;
}

.logo-svg .cls-2, .logo-svg .cls-2-animate {
  animation: logoAnimation 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

.logo-svg:hover .cls-2, .logo-svg:hover .cls-2-animate {
  animation-play-state: running;
}

.logo-svg.ready-to-animate:hover .cls-2, .logo-svg.ready-to-animate:hover .cls-2-animate {
  animation-play-state: paused;
}

.logo-svg .cls-2-animate {
  transition: var(--transition);
  fill: url(#MyGradient);
  opacity: 0;
}

.logo-svg .cls-2-animate-home {
  transition: var(--transition);
  fill: url(#CMSGradient);
  opacity: 0;
  z-index: 2;
}

.open .logo-svg .cls-2-animate {
  opacity: 1;
}

@keyframes logoAnimation {
    0% {
      transform: skewX(0) skewY(0) perspective(0) rotate(0);
    }
    20% {
      transform: skewX(8deg) skewY(0deg) perspective(100px) rotate(0);
    }
    40% {
      transform: skewX(4deg) skewY(2deg) perspective(100px) rotate(1deg);
    }
    60% {
      transform: skewX(-3deg) skewY(1deg) perspective(100px) rotate(0);
    }
    80% {
      transform: skewX(2deg) skewY(2deg) perspective(100px) rotate(0);
    }
    100% {
      transform: skewX(0) skewY(0) perspective(0) rotate(0);
    }
}

.open .logo-svg .cls-3 {
  stroke: #fff;
}

.contact-wrapper {
  padding-left: 110px;
}

.contact-info a {
  font-family: var(--circular);
}

.contact-button {
  width: 70px;
  height: 70px;
  bottom: 25px;
  transition: var(--transition-default);
}

.contact-button a {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -42%);
}

.contact-button:hover {
  transform: scale(1.1,1.1);
}

.mail svg {
  fill: #fff;
  width: 30px;
  height: auto;
}

#nav-bg {
  width: 1698px;
  left: 50%;
  top: -350px;
  transform: translateX(-53%) translateY(-22%);
  pointer-events: none;
}

.home .logo-svg {
  display: none;
}

.home .nav-button {
  opacity: 0;
}

.nav__links a {
  font-family: var(--circular);
}

/* Nav Full Viewport Background */
.nav-overlay {
  opacity: 0;
  transition: var(--transition);
  pointer-events: none;
  &.nav-open {
    opacity: .9;
    z-index: 4;
  }
}
