.services-list {
  width: 100%;
  transform-origin: bottom left;
  transition: var(--transition-default);

  @media (min-width: 700px) {
    width: 90%;
  }
  @media (min-width: 993px) {
    width: 600px;
    padding-bottom: 0;
    right: 0;
  }

  &--visible {
    transform: scale(1);
    opacity: 1;
  }

  & .list {
    width: 100%;
    float: left;
    padding: 0 5px;
    opacity: 0;
    transition: var(--transition-slow);
    transition-delay: .5s;
    transform: translateX(50%);

    &:nth-child(3) {
      transition-delay: .7s;
    }

    &:nth-child(4) {
      transition-delay: .9s;
    }

    @media (min-width: 700px) {
      width: 33.333%;
      padding-left: 0;
      padding-right: 15px;
    }
    @media (min-width: 993px) {
      padding-right: 35px;
    }
    @media (max-height: 400px) {
      width: 30%;
    }
    @media (min-height: 660px) {
      margin-bottom: 2.5rem;
    }
  }
  & h3 {
    margin-left: -1.2em;
  }
  & li {
    line-height: 1.5;
    padding-left: 20px;
    &:before {
      content: "·";
      font-weight: bold;
      position: absolute;
      left: 0;
      margin-right: .5rem;
      color: rgba(0,0,0,.6);
    }
  }
}

.services__shape {
  bottom: -340px;
  width: 150%;
  min-width: 1740px;
  left: -1200px;

  @media (min-width: 700px) {
    transform: scale(1.5) !important;
    bottom: -70px;
    width: auto;
    left: auto;
    min-width: 0;
  }
  @media (min-width: 769px) {
    bottom: -210px;
    right: -100px;
    transform: scaleX(1.5) scaleY(1) !important;
  }
  @media (min-width: 993px) {
    bottom: -150px;
    right: -250px;
    transform: scaleX(1) !important;
  }

  & svg {
    @media (max-width: 699px) {
      width: 100%;
      height: auto;
    }

    &.mobile {
      display: block;
      @media (min-width: 769px) {
        display: none;
      }
    }
  }
}

.services-list__link {
  pointer-events: initial;
  bottom: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  padding: 12px 17px;
  background: #F62944;

  @media (min-width: 700px) and (max-width: 1000px) {
    transform: translateX(calc(-50% - 56px));
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.services-list__content {
  /*display: none;*/
  /*opacity: 0;*/

  transform: translate(-120%, 150%) !important;
  transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: bottom left;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  &.visible {
    /*display: block;*/
    /*opacity: 1;*/
    transform: translate(0, 0) !important;
  }

  @media (min-width: 768px) {
    transform: translate(0, 0) !important;
  }
}

.slide-services.swiper-slide-active {
  & .list {
    transform: translateX(0%);
    opacity: 1;
  }
}

.services-overlay {
  opacity: 0;
  point-events: none;
  transition: var(--transition);
}

@media (max-width: 992px) {
  .slide-services.visible .services-overlay {
    opacity: 1;
  }
}
