.r5 {
    right: -8rem;
}

.slide-studio-1,
.slide-studio-2,
.slide-studio-3,
.slide-studio-4,
.slide-studio-5,
.slide-studio-6,
.slide-studio-7 {
  & .feat-case-study__content {
    @media (min-width: 768px) and (max-width: 992px) {
      margin-top: 6rem;
    }
  }
}

.slide-studio-2 {
  & .feat-case-study__content {
    @media (min-width: 768px) and (max-width: 992px) {
      margin-top: 12rem;
    }
  }
}


.slide-studio-1,
.slide-studio-2,
.slide-studio-3,
.slide-studio-4,
.slide-studio-5,
.slide-studio-6,
.slide-studio-7 {
  & .feat-case-study__content {
    @media (min-height: 900px) {
      margin-top: 6rem;
    }
  }
}

.slide-studio-2 {
  & .feat-case-study__content {
    @media (min-height: 900px){
      margin-top: 12rem;
    }
  }
}

.slide-studio-1,
.slide-studio-2,
.slide-studio-3,
.slide-studio-4,
.slide-studio-5,
.slide-studio-6,
.slide-studio-7 {
  & .feat-case-study__content {
    @media (min-height: 1000px) {
      margin-top: 9rem;
    }
  }
}

.slide-studio-2 {
  & .feat-case-study__content {
    @media (min-height: 1000px){
      margin-top: 15rem;
    }
  }
}
