.link:focus {
  outline: none;
}

.underline, .feat-case-study__title {
  position: relative;
}


.feat-case-study__button {
  text-decoration: none;
  position: relative;
}

.underline:after, .feat-case-study__slide__button:after {
  content: "";
  margin-top: .15em;
  height: .075em;
  background: #fff;
  display: block;
  transition: .6s all cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: left center;
}

.underline.black:after {
  background: #000;
}

.feat-case-study__slide__button:after {
  background: #000;
}

.underline:hover:after {
  transform: scaleX(0);
}

.filter-button.underline:hover:after {
  transform: scaleX(1);
}

.hover-underline:after {
  transform: scaleX(0);
}

.hover-underline:hover:after {
  transform: scaleX(1);
}

.hover-underline:hover:after {
  transform: scaleX(1);
}
