:root {
  --transition: .6s all cubic-bezier(0.19, 1, 0.22, 1);
  --transition-default: .2s all cubic-bezier(0.19, 1, 0.22, 1);
  --transition-slow: 2s all cubic-bezier(0.19, 1, 0.22, 1);
  --transition-medium: 1.5s all cubic-bezier(0.19, 1, 0.22, 1);

  --circular: "Circular", -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  --openSans: 'Open Sans', sans-serif !important;
}
