.work-slide {
  transform: translate3d(0,0,0);
}

.work__wrapper {
  width: calc(90% + .5rem);
  @media (min-width: 44em) {
    width: calc(90% + 1rem);
  }
  @media (min-width: 64em) {
    max-width: 80rem;
    width: calc(90% + 2rem);
  }
}

.work-item {
  transition: var(--transition);
  &:hover {
    transform: translateY(-2%);
  }
  &.disabled {
    display: none;
  }
}

/* Homepage specific styles */
.work-slide .work-item {
  @media (max-height: 610px) {
    &:nth-child(n+6) {
      display:none;
    }
  }
  @media (min-width: 44em) {
    &:nth-child(6) {
      display:none;
    }
  }
}

.work__shape {
  & svg {
    position: absolute;
    top: -370px;
    right: -720px;
    @media (min-width: 620px) {
      top: -120px;
      right: -410px;
    }
  }
}
