.work__wrapper {
  width: calc(90% + 2rem);
}

.work-item {
  transition: var(--transition);
  & .aspect-ratio--object {
    transition: var(--transition);
    transform: scale(1.2);
  }
  &:hover {
    transform: scale(1.05);
    & .aspect-ratio--object {
      transform: scale(1.1);
    }
  }
}
