.work-slide {
  transform: translate3d(0,0,0);
}
.work__wrapper {
  width: calc(90% + .5rem);
  @media (min-width: 44em) {
    width: calc(90% + 2rem);
  }
}

.work-item {
  transition: var(--transition);
  & .aspect-ratio--object {
    transition: var(--transition);
    transform: scale(1.2);
  }
  &:hover {
    transform: scale(1.05);
    & .aspect-ratio--object {
      transform: scale(1.1);
    }
  }
  &.disabled {
    transform: scale(.97);
    opacity: .7;
  }
}
