.gradient--red {
  background: linear-gradient(270deg, #935b63, #df3f28);
}

.gradient--blue-and-yellow {
  background: linear-gradient(270deg, #6BC2C3, #F4AD17);
}

.gradient {
  background-size: 400% 400%;

  animation: animateGradient 30s ease infinite;
}

@keyframes animateGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
