.hp-slide1__text {
  transition: var(--transition-medium);
}

.hp-slide1__headline {
  text-shadow: 0 0 .5em rgba(0,0,0,.15);
  @media (max-width: 460px) {
    font-size: 2.3rem;
  }
}

button.hp-slide1__text {
  mix-blend-mode: overlay;
}

.hp-slide1 .hp-slide1__text.ready-to-animate {
  transform: translateY(10%) translate3d(0,0,0);
  opacity: 0;
}

.hp-slide1__shape {
  width: 885px;
  bottom: -600px;
  left: -300px;
}

.hp-slide1 .gradient {
  opacity: .7;
}

.hp-slide1 .gradient,
.hp-slide1 .hp-slide1__text,
.hp-slide1 .hp-slide1__shape {
  -webkit-transform: translate3d(0,0,0);
}
