.feat-case-study__slide__overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*opacity: .6;*/
  opacity: 1;
  transition: opacity 1.5s ease-out;
  /*transition-delay: 2s;*/
}

.feat-case-study__slide.swiper-slide-active {
  & .feat-case-study__slide__image {
    opacity: 1;
    transform: scale(1.25) translateX(0);
  }
  & .feat-case-study__title {
    opacity: 1;
  }
  & .feat-case-study__slide__overlay {
    opacity: .6;
  }
}

.feat-case-study__slide__image {
  opacity: 0;
  transform: scale(1.25) translateX(10%);
  transition: transform 3s ease-out, opacity 1s ease-in;
  /*transition-delay: 2s;*/
}

.feat-case-study__title {
  opacity: 0;
  transition: opacity 1s ease-in;
  /*transition-delay: 3.5s;*/
  transition-delay: 1s;
}
