{{ partial "head" . }}

<section class="case-study">
  {{ partial "nav" . }}
  <header class="cover pt7 pb6 tc relative" {{ if .Params.image }}style="background:url({{ .Params.image }}) no-repeat center center"{{ end }}>
    <div class="case-study-overlay absolute left-0 top-0 right-0 bottom-0"></div>
    <div class="mw8 center f-subheadline white lh-title relative">
      <h1>{{ .Params.headingBlurb }}</h1>
    </div>
  </header>
  <div class="case-study-container mb6">
    <div class="bg-white intro-blurb pt5 pb4 relative">{{ .Params.introBlurb }}</div>
    {{ .Content }}
  </div>
</section>

{{ if .Params.nextCaseStudy }}
{{ $url := lower .Params.nextCaseStudy }}
  <a href="{{ replace $url " " "-" }}" class="next-case-study gradient gradient--blue-and-yellow">
    <p>
      Next: <br />
      {{ .Params.nextCaseStudyCopy }}
    </p>
  </a>
{{ end}}

<script src="../../js/swiper.min.js"></script>
<script src="../../js/article.js"></script>
{{ partial "footer" . }}
