{{ partial "head" . }}

<section class="case-study">
  {{ partial "nav" . }}
  <header class="cover pt7 pb6 tc relative" {{ if .Params.image }}style="background:url({{ .Params.image }}) no-repeat center center"{{ end }}>
    <div class="case-study-overlay absolute left-0 top-0 right-0 bottom-0"></div>
    <div class="mw8 center f-subheadline white lh-title relative">
      <h1>{{ .Params.headingBlurb }}</h1>
    </div>
  </header>
  <div class="case-study-container mb6">
    <div class="bg-white intro-blurb pt5 pb4 relative">{{ .Params.introBlurb }}</div>
    {{ .Content }}
  </div>
</section>

{{ if .Section }}
  {{ with .NextInSection }}
    <a href="{{ .RelPermalink }}" {{ if .Params.image }}style="background:url({{ .Params.image }}) no-repeat center center"{{ end }} class="cover next-case-study db lh-title link white">
      <div class="feat-case-study__slide__overlay" style="background-color: {{ .Params.color }}"></div>
      <div class="mw7 center ph3 pv5">
        <span class="db mb4">Next Project</span>
        <span class="f1 mv4">{{ .Params.headingBlurb }}</span>
        {{ .Params.color }}
      </div>
    </a>
  {{ end}}
{{ end}}



<script src="../../js/swiper.min.js"></script>
<script src="../../js/article.js"></script>
{{ partial "footer" . }}
