{{ partial "head" . }}
{{ partial "nav" . }}
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="hp-slide1 gradient gradient--blue-and-yellow swiper-slide min-vh-100 bg-white pt6">
      <div class="hp-slide1-content relative center mw8 w-90 cf dn mt5 relative">
        <div class="hp-slide1__text">
          <h2 class="w-60 f-headline mt4 mb4 white">{{ .Params.introCopyPart1 }}</h2>
          <button class="fw6 next-slide bg-transparent pointer bn input-reset db underline dib f4 link black mt2">View case studies</button>
        </div>
        <div class="hp-slide1__shape absolute">
          <img src="../img/shapes/slide-intro.svg">
        </div>
      </div>
    </div>
    {{ partial "feat-case-studies" . }}
  </div>
</div>

<script src="js/swiper.min.js"></script>
{{ partial "footer" . }}
