{{ partial "head" . }}

<section class="home">
  {{ partial "nav" . }}
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="hp-slide1 relative swiper-slide min-vh-100 bg-white pt5">
        <div class="video-wrapper absolute top-0 left-0 w-100">
          <video class="hp-video absolute top-0 left-0 w-100 h-100" src="img/hp.mp4" autoplay muted></video>
          <div class="gradient gradient--blue-and-yellow absolute top-0 left-0 w-100 h-100"></div>
        </div>
        <div class="hp-slide1-content relative center mw8 w-90 cf dn mt5-ns mt4 relative z2">
          <div class="hp-slide1__text">
            <h2 class="hp-slide1__headline w-70-ns f-headline-l f1 fw7 mt5 mb4-ns mb3 white">{{ .Params.introCopyPart1 }}</h2>
            <button class="fw6 next-slide bg-transparent pointer bn input-reset underline dib f4 link black mt2">View case studies</button>
          </div>
          <div class="hp-slide1__shape absolute">
            <img src="../img/shapes/slide-intro.svg">
          </div>
        </div>
      </div>
      {{ partial "feat-case-studies" . }}
    </div>
  </div>

</section>

<script src="js/swiper.min.js"></script>
<script src="js/home.js"></script>
{{ partial "footer" . }}
