<div data-hash="clients" class="swiper-slide clients-slide overflow-visible min-vh-100 bg-white pt z-4">
  <div class="logos absolute left-0 right-0 pa3">
    <div class="flex flex-wrap flex-column h-100">
      <ul class="flex w-100 items-center flex-grow">
        <li class="client-logo client-logo-1 w-100">
          <img class="db mw4 w-60 center" src="{{ siteUrl }}assets/img/clients/instagram.png" alt="">
        </li>
        <li class="client-logo client-logo-2 w-100 flex-end">
          <img class="db mw4 w-60 center" src="{{ siteUrl }}assets/img/clients/apple.png" alt="">
        </li>
        <li class="client-logo client-logo-3 w-100">
          <img class="db mw4 w-60 center" src="{{ siteUrl }}assets/img/clients/june.png" alt="">
        </li>
      </ul>
      <ul class="flex w-100 items-center flex-grow">
        <li class="client-logo client-logo-4 w-100">
          <img class="db mw4 w-60 center" src="{{ siteUrl }}assets/img/clients/unep.png" alt="">
        </li>
        <li class="client-logo client-logo-5 w-100 flex-end">
          <img class="db mw4 w-60 center" src="{{ siteUrl }}assets/img/clients/trip.png" alt="">
        </li>
        <li class="client-logo client-logo-6 w-100">
          <img class="db mw4 w-60 center" src="{{ siteUrl }}assets/img/clients/pandora.png" alt="">
        </li>
        <li class="client-logo client-logo-7 w-100">
          <img class="db mw4 w-60 center" src="{{ siteUrl }}assets/img/clients/maps.png" alt="">
        </li>
      </ul>
      <ul class="flex w-100 items-center flex-grow">
        <li class="client-logo client-logo-8 w-100">
          <img class="db mw4 w-60 center" src="{{ siteUrl }}assets/img/clients/pinterest.png" alt="">
        </li>
        <li class="client-logo client-logo-9 w-100">
          <img class="db mw4 w-60 center" src="{{ siteUrl }}assets/img/clients/play.png" alt="">
        </li>
        <li class="client-logo client-logo-10 w-100">
          <img class="db mw4 w-60 center" src="{{ siteUrl }}assets/img/clients/mojo.png" alt="">
        </li>
      </ul>
      <ul class="flex w-100 items-center flex-grow">
        <li class="client-logo client-logo-11 w-100">
          <img class="db mw4 w-60 center" src="{{ siteUrl }}assets/img/clients/unep.png" alt="">
        </li>
        <li class="client-logo client-logo-12 w-100 flex-end">
          <img class="db mw4 w-60 center" src="{{ siteUrl }}assets/img/clients/trip.png" alt="">
        </li>
        <li class="client-logo client-logo-13 w-100">
          <img class="db mw4 w-60 center" src="{{ siteUrl }}assets/img/clients/pandora.png" alt="">
        </li>
        <li class="client-logo client-logo-14 w-100">
          <img class="db mw4 w-60 center" src="{{ siteUrl }}assets/img/clients/google.png" alt="">
        </li>
      </ul>
    </div>
  </div>
  <div class="absolute left-0 right-0 bottom-0 top-0 bg-white-50"></div>
  <div class="absolute middle w-100 z-1">
    <div class="center w-90 mw7 relative z-1 tc cf">
      <h2 class="f2-l f2-ns f3 lh-title fw7 black mb3">We've worked with some of the best teams in the world, and are proud to call these clients our partners and friends</h2>
    </div>
  </div>
 </div>
