{% set entries = entry.featuredCaseStudies %}
{% for entry in entries %}
  <div data-hash="{{ entry.title | lower | replace(' ', '-') }}" class="slide-{{ loop.index }} swiper-slide overflow-visible bg-white pt6 feat-case-study__slide">
    <div class="absolute top-0 left-0 w-100 h-100 overflow-hidden">
      <!-- <div class="slide__image relative w-100 h-100"></div> -->
      <!-- <div class="slide__imageFade absolute"></div> -->
      <div class="center mw8 w-90 cf">
          {% if loop.index == 3 %}
            <div class="w-50-l w-80-ns pt5 mt5 fr">
          {% else %}
            <div class="w-70-l w-100 pt5-l pt7 mt5-l mt6 nr5-l fr">
          {% endif %}
          {% for asset in entry.featuredCaseStudyGraphic %}
            <img src="{{ siteUrl }}{{ asset.url }}" alt="">
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="center mw8 w-90 feat-case-study__content relative z-1 {% if loop.index == 2 %}z-2{% endif %}">
      <div data-color="{{ entry.color }}" class="feat-case-study__slide__shape shape absolute top-0 left-0 w-100 h-100"></div>
      <div class="pv4-ns pv3 mt2-ns w-50-l w-80-ns z-1 relative">
        <h2 class="f2-ns f3 lh-title relative slide__title mb4 white">
          {{ entry.headingParagraph }}
        </h2>
      </div>
    </div>
    <!-- <div class="slide__overlay--mingle absolute top-0 h-100 z-1"></div> -->

    <style>
    /* Add custom styles from CMS for each slide as we iterate through */
    .slide-{{ loop.index }} .slide__image {
      background: url({% for asset in entry.image %}{{ siteUrl }}{{ asset.url }}{% endfor %}) no-repeat {{ entry.horizontalPosition }} {{ entry.verticalPosition }};
      background-size: cover;
    }
    .slide-{{ loop.index }} .slide__imageFade {
      background: linear-gradient(to top, {{ entry.color }} 0%, {{ entry.color }} 10%, rgba(255,255,255,0) 100%);
    }
    .slide-{{ loop.index }} .slide__overlay--mingle {
      background: linear-gradient(to top, rgba(255,255,255,0) 0%, {{ entry.color }} 90%, {{ entry.color }} 100%);
    }
    @media (min-width: 992px) {
      .slide-{{ loop.index }} .slide__imageFade {
        background: linear-gradient(to left, {{ entry.color }} 0%, {{ entry.color }} 10%, rgba(255,255,255,0) 100%);
      }
      .slide-{{ loop.index }} .slide__overlay--mingle {
        background: linear-gradient(to left, rgba(255,255,255,0) 0%, {{ entry.color }} 90%, {{ entry.color }} 100%);
      }
    }
    </style>
  </div>
{% endfor %}
