<div data-hash="" class="slide-service swiper-slide overflow-visible min-vh-100 bg-white pt6">
  <div class="absolute top-0 left-0 w-100 h-100 overflow-hidden">
    <div class="slide__imageFade absolute"></div>
  </div>
  <div class="slide__overlay absolute left-0 top-0 right-0 bottom-0" style="background-color: #5E2CA5"></div>
  <div class="center mw8 w-90 feat-case-study__content relative z-1">
    Services
  </div>
  <div class="slide__overlay--mingle absolute top-0 h-100 z-1" style="background: linear-gradient(to left, rgba(255,255,255,0) 0%, #5E2CA5 90%, #5E2CA5 100%)"></div>
</div>

<style></style>
