<div data-hash="services" class="slide-service slide-services swiper-slide overflow-visible bg-white pt6">
  {% set entries = entry.services %}
  {% for entry in entries %}
  <div class="absolute top-0 left-0 w-100 h-100 overflow-hidden">
    <div class="slide__image relative w-100 h-100"></div>
    <div class="slide__imageFade absolute"></div>
  </div>
  <div class="slide__overlay absolute left-0 top-0 right-0 bottom-0" style="background-color: {{ entry.color }}"></div>
  <div class="center mw8 w-90 relative z-1">
    <div class="pv4 mt5-ns w-50-l w-80-ns relative slide__title">
      <h2 class="services-title absolute left-0 top-0 w-100 copy-one f2-ns f3 lh-title white relative text-shadow fadeIn">{{ entry.copyLineOne }}</h2>
      <h2 class="services-title absolute left-0 top-0 w-100 copy-two f2-ns f3 lh-title white relative text-shadow">{{ entry.copyLineTwo }}</h2>
      <h2 class="services-title absolute left-0 top-0 w-100 copy-three f2-ns f3 lh-title white relative text-shadow">{{ entry.copyLineThree }}</h2>
    </div>
  </div>
  <div class="slide__overlay--mingle absolute top-0 h-100 z-1"></div>

  <style>
    /* Add custom styles from CMS for each slide as we iterate through */
    .slide-services .slide__image {
      background-size: cover;
    }
    .slide-services .slide__imageFade {
      background: linear-gradient(to top, {{ entry.color }} 0%, {{ entry.color }} 10%, rgba(255,255,255,0) 100%);
    }
    .slide-services .slide__overlay--mingle {
      background: linear-gradient(to top, rgba(255,255,255,0) 0%, {{ entry.color }} 100%, {{ entry.color }} 100%);
    }
    @media (min-width: 992px) {
      .slide-services .slide__imageFade {
        background: linear-gradient(to left, {{ entry.color }} 0%, {{ entry.color }} 10%, rgba(255,255,255,0) 100%);
      }
      .slide-services .slide__overlay--mingle {
        background: linear-gradient(to left, rgba(255,255,255,0) 0%, {{ entry.color }} 100%, {{ entry.color }} 100%);
      }
    }
  </style>
  {% endfor %}
  <!-- Services list -->
  <div class="services-list absolute z-1 bottom-0 right-0 w-40-l pb5 pr4-l pr3-ns ph3 ph0-ns">
    <div class="services-list__content">
      <div class="services__shape shape absolute">
        <svg class="mobile" width="765" height="351" viewBox="0 0 765 351" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Services Mobile</title><desc>Mobile shape</desc><use xlink:href="#a" fill="#000"/><defs><path id="a" d="M77.579 53.036c-26.834 15.167-79.9 64-77.5 138 2.319 71.497 47.453 101.142 72 107.877 158.5 52.624 639.1 81.324 679.5 4.123C802.079 206.536 684.5 92 684.5 92S620.5 6.46 577 .927c-114-14.5-244 146.89-326.5 82-69.208-54.436-129.921-58.89-172.921-29.89z"/></defs></svg>
      </div>
      {% set serviceList = entry.serviceList %}
      {% for entry in serviceList %}
        <div class="list relative">
          <h3 class="white f3-ns f4">{{ entry.serviceType }}</h3>
          <ul>
            {% set service = entry.service %}
            {% for entry in service %}
              <li class="white f4-ns f5">{{ entry.service }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
    <button class="services-list__link absolute z-1 white input-reset button-reset bg-transparent bn pointer">?</button>

    <style>
      .services-list__link {
        background: #000;
      }
    </style>
  </div>
</div>
