<div data-hash="" class="slide-studio swiper-slide overflow-visible min-vh-100 bg-white pt6">
  <div class="absolute top-0 left-0 w-100 h-100 overflow-hidden">
    <div class="slide__imageFade absolute"></div>
  </div>
  <div class="slide__overlay absolute left-0 top-0 right-0 bottom-0" style="background-color: #5E2CA5"></div>
  <div class="center mw8 w-90 feat-case-study__content relative z-1">
    <div class="pv4 mt5-ns fr w-40-l w-80-ns">
      <h2 class="f1 lh-title white relative studio__slide__title text-shadow mb4 z-1">
        Bokeh was born out of a promise to never stop creating.
      </h2>
    </div>
  </div>
  <div class="slide__overlay--mingle absolute top-0 h-100 z-1" style="background: linear-gradient(to left, rgba(255,255,255,0) 0%, #5E2CA5 90%, #5E2CA5 100%)"></div>
</div>
<div data-hash="" class="slide-studio swiper-slide overflow-visible min-vh-100 bg-white pt6">
  <div class="absolute top-0 left-0 w-100 h-100 overflow-hidden">
    <div class="slide__imageFade absolute"></div>
  </div>
  <div class="slide__overlay absolute left-0 top-0 right-0 bottom-0" style="background-color: #9EEBCF"></div>
  <div class="absolute bottom-0 w-100">
    <div class="center mw8 w-90 feat-case-study__content relative z-1">
      <div class="pv4 mt5-ns w-50-l w-80-ns center">
        <h2 class="f2 lh-title white relative studio__slide__title text-shadow mb4 z-1">
          David and Doug met in film school. David liked to tell stories, and Doug liked to play with cameras.
        </h2>
      </div>
    </div>
  </div>
  <div class="slide__overlay--mingle absolute top-0 h-100 z-1" style="background: linear-gradient(to left, rgba(255,255,255,0) 0%, #9EEBCF 90%, #9EEBCF 100%)"></div>
</div>
<div data-hash="" class="slide-studio swiper-slide overflow-visible min-vh-100 bg-white pt6">
  <div class="absolute top-0 left-0 w-100 h-100 overflow-hidden">
    <div class="slide__imageFade absolute"></div>
  </div>
  <div class="slide__overlay absolute left-0 top-0 right-0 bottom-0" style="background-color: #FFB700"></div>
  <div class="absolute middle w-100 z-1">
    <div class="center mw8 w-90 feat-case-study__content relative z-1">
      <div class="pv4 mt5-ns w-40-l w-80-ns center tc">
        <h2 class="f1 lh-title white relative studio__slide__title text-shadow mb4 z-1">
          So in 2011 they started a company to do just that.
        </h2>
      </div>
    </div>
  </div>
  <div class="slide__overlay--mingle absolute top-0 h-100 z-1" style="background: linear-gradient(to left, rgba(255,255,255,0) 0%, #FFB700 90%, #FFB700 100%)"></div>
</div>
<div data-hash="" class="slide-studio swiper-slide overflow-visible min-vh-100 bg-white pt6">
  <div class="absolute top-0 left-0 w-100 h-100 overflow-hidden">
    <div class="slide__imageFade absolute"></div>
  </div>
  <div class="slide__overlay absolute left-0 top-0 right-0 bottom-0" style="background-color: #FF4136"></div>
  <div class="center mw8 w-90 feat-case-study__content relative z-1">
    <div class="pv4 mt5-ns w-50-l w-80-ns">
      <h2 class="f2 lh-title white relative studio__slide__title text-shadow mb4 z-1">
        They did wedding videos, engagements, even maternity videos. Those were weird.
      </h2>
    </div>
  </div>
  <div class="slide__overlay--mingle absolute top-0 h-100 z-1" style="background: linear-gradient(to left, rgba(255,255,255,0) 0%, #FF4136 90%, #FF4136 100%)"></div>
</div>
<div data-hash="" class="slide-studio swiper-slide overflow-visible min-vh-100 bg-white pt6">
  <div class="absolute top-0 left-0 w-100 h-100 overflow-hidden">
    <div class="slide__imageFade absolute"></div>
  </div>
  <div class="slide__overlay absolute left-0 top-0 right-0 bottom-0" style="background-color: #00449E"></div>
  <div class="absolute w-100 bottom-0">
    <div class="center mw8 w-90 feat-case-study__content relative z-1">
      <div class="pv4 mt5-ns w-50-l w-80-ns fr">
        <h2 class="f2 lh-title white relative studio__slide__title text-shadow mb4 z-1">
          They both learned a lot about marketing, design, branding, and content. Then things started to happen. Fast. All over the world. The work piled up.
        </h2>
      </div>
    </div>
  </div>
  <div class="slide__overlay--mingle absolute top-0 h-100 z-1" style="background: linear-gradient(to left, rgba(255,255,255,0) 0%, #00449E 90%, #00449E 100%)"></div>
</div>
<div data-hash="" class="slide-studio swiper-slide overflow-visible min-vh-100 bg-white pt6">
  <div class="absolute top-0 left-0 w-100 h-100 overflow-hidden">
    <div class="slide__imageFade absolute"></div>
  </div>
  <div class="slide__overlay absolute left-0 top-0 right-0 bottom-0" style="background-color: #357EDD"></div>
  <div class="center mw8 w-90 feat-case-study__content relative z-1">
    <div class="pv4 mt5-ns w-50-l w-80-ns">
      <h2 class="f2 lh-title white relative studio__slide__title text-shadow mb4 z-1">
        David was overwhelmed. He asked his best friend Sebastian for help. He was organized and good with numbers.
      </h2>
    </div>
  </div>
  <div class="slide__overlay--mingle absolute top-0 h-100 z-1" style="background: linear-gradient(to left, rgba(255,255,255,0) 0%, #357EDD 90%, #357EDD 100%)"></div>
</div>
<div data-hash="" class="slide-studio swiper-slide overflow-visible min-vh-100 bg-white pt6">
  <div class="absolute top-0 left-0 w-100 h-100 overflow-hidden">
    <div class="slide__imageFade absolute"></div>
  </div>
  <div class="slide__overlay absolute left-0 top-0 right-0 bottom-0" style="background-color: #A2FECB"></div>
  <div class="absolute middle w-100 z-1">
    <div class="center mw8 w-90 feat-case-study__content relative z-1">
      <div class="pv4 mt5-ns w-40-l w-80-ns center tc">
        <h2 class="f1 lh-title white relative studio__slide__title text-shadow mb4 z-1">
          So Sebastian joined the company, and in 2013 Bokeh was born.
        </h2>
      </div>
    </div>
  </div>
  <div class="slide__overlay--mingle absolute top-0 h-100 z-1"></div>
</div>

<style>
/* Add custom styles from CMS for each slide as we iterate through */
.slide-studio .slide__imageFade {
  /*background: linear-gradient(to top, #5533FF 0%, #5533FF 20%, rgba(255,255,255,0) 100%);*/
}
.slide-studio .slide__overlay--mingle:after {
  /*background: linear-gradient(to top, rgba(255,255,255,0) 0%, #A2FECB 90%, #A2FECB 100%)*/
}
@media (min-width: 768px) {
  .slide-studio .slide__imageFade {
    /*background: linear-gradient(to left, {{ entry.color }} 0%, {{ entry.color }} 1%, rgba(255,255,255,0) 100%);*/
  }
  .slide-studio .slide__overlay--mingle {
    background: linear-gradient(to left, rgba(255,255,255,0) 0%, #A2FECB 90%, #A2FECB 100%);
  }
}
</style>
