<div data-hash="name" class="slide-studio swiper-slide overflow-visible bg-white pt6">
  <div class="center mw8 w-90 feat-case-study__content relative z-1">
    <div class="pv4 mt5-ns fl w-40-l w-80-ns">
      <h2 class="f1 lh-title relative slide__title mb4 z-1">
        How do we say our name? Is it:
      </h2>
    </div>
    <div class="pv4 mt5-ns fr w-60-l w-80-ns">
      <video class="w-100" src="assets/img/inspiration.mov" autoplay muted></video>
    </div>
  </div>
</div>
<div data-hash="dont-know" class="slide-studio swiper-slide overflow-visible bg-white pt4">
  <div class="center mw8 w-90 feat-case-study__content relative z-1">
    <div class="mb2 center w-80-l w-80-ns">
      <video class="w-100" src="assets/img/dictionary.mov" autoplay muted></video>
    </div>
    <div class="w-50-l w-80-ns center tc">
      <h2 class="f2 lh-title relative slide__title mb4 z-1">
        Funnily enough, we don't know.
      </h2>
    </div>
  </div>
</div>
<div data-hash="education" class="slide-studio swiper-slide overflow-visible bg-white pt6">
  <div class="center mw8 w-90 feat-case-study__content relative z-1">
    <div class="mb4 center w-60-l fl w-80-ns">
      <video class="w-100" src="assets/img/bokeh.mov" autoplay muted></video>
    </div>
    <div class="pv4 mt5-ns w-40-l fr w-80-ns center">
      <h2 class="f2-5 lh-title relative slide__title mb4 z-1">
        <span class="db mb3">David and doug went to film school.</span>
        <span class="db mb3">Sebastian went to business school.</span>
        We all graduated with one goal: to create something awesome.
      </h2>
    </div>
  </div>
</div>
<div data-hash="start" class="slide-studio swiper-slide overflow-visible bg-white pt5">
  <div class="center mw8 w-90 feat-case-study__content relative z-1">
    <div class="mb3 center w-70-l w-80-ns">
      <video class="w-100" src="assets/img/head.mov" autoplay muted></video>
    </div>
    <div class="pv4 w-50-l w-80-ns center tc">
      <h2 class="f2 lh-title relative slide__title z-1">
        So we started a business and made a pledge to never stop creating.
      </h2>
    </div>
  </div>
</div>
<div data-hash="lead" class="slide-studio swiper-slide overflow-visible bg-white pt6">
  <div class="center mw8 w-90 feat-case-study__content relative z-1">
    <div class="pv4 mt5-ns w-30-l w-80-ns fl">
      <h2 class="f2 lh-title relative slide__title mb4 z-1">
        Little did we know where that would lead.
      </h2>
    </div>
    <div class="mb4 center w-70-l w-80-ns fr">
      <video class="w-100" src="assets/img/lead.mov" autoplay muted></video>
    </div>
  </div>
</div>
<div data-hash="promise" class="slide-studio swiper-slide overflow-visible bg-white pt5">
  <div class="center mw8 w-90 feat-case-study__content relative z-1">
    <div class="mb4 center w-60-l w-80-ns fr">
      <video class="w-100" src="assets/img/promise.mov" autoplay muted></video>
    </div>
    <div class="pv4 fl w-60-l w-80-ns">
      <h2 class="f2 lh-title relative slide__title z-1">
        The promise we made ourselves and our team is the promise we make you.
      </h2>
    </div>
  </div>
</div>
<div data-hash="inspiration" class="slide-studio swiper-slide overflow-visible bg-white pt5">
  <div class="absolute middle w-100 z-1">
    <div class="center mw8 w-90 feat-case-study__content relative z-1">
      <div class="mb0 center w-70-l w-80-ns">
        <video class="w-100" src="assets/img/inspiration.mov" autoplay muted></video>
      </div>
      <div class="pv2 w-60-l w-80-ns center tc">
        <h2 class="f1 lh-title relative slide__title z-1">
          <span class="mb2">Inspiration isn't static. It moves.</span>
          <a href="" class="f3 link underline underline-black black dib lh-solid">Let's Ride</a>
        </h2>
      </div>
    </div>
  </div>
</div>