{% set entries = craft.entries.section('projects') %}

  <div data-hash="work" class="swiper-slide work-slide overflow-visible bg-white pt z-4">
    <div class="mt6-ns pt5 mt5 center work__wrapper relative z-1 cf">
      <div class="mb4 pb2 pt0-ns pt3 pl3-l pl2">
        <h2 class="f1-l f2 fw7 black mb3">Latest projects</h2>
        <a class="link f4-ns f5 fw6 black underline dib button" href="{{ siteUrl }}projects">View all projects</a>
      </div>
      <div class="cf">
        {% for entry in entries.limit(6) %}
          <article class="pa3-l pa2 fl w-third-ns w-50 work-item overflow-hidden">
            <div class="aspect-ratio aspect-ratio--16x9 overflow-hidden br3">
              <a class="db overflow-hidden link aspect-ratio--object cover flex items-center justify-center content-center" href="{{ entry.url }}" style="background:url({% for asset in entry.image %}{{ siteUrl }}{{ asset.url }}{% endfor %}) center;">
                <div class="absolute left-0 bottom-0 top-0 right-0" style="background: {{ entry.color }}; opacity: .6;"></div>
                <h2 class="f3-l f4-ns f5 db lh-title white relative text-shadow mb0 z-1">
                  {{ entry.title }}
                </h2>
              </a>
            </div>
          </article>
        {% endfor %}
      </div>
    </div>
   </div>
