{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

{% set seoName = siteName %}
{% set seoDescription = 'We are a creative partner for brands ready to move at the speed of inspiration.' %}
{% set seoTwitterImage = 'assets/img/bokeh_twitter.png' %}
{% set seoFacebookImage = 'assets/img/bokeh_facebook.png' %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
  <meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>

  <link rel="home" href="{{ siteUrl }}" />

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ siteUrl }}favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ siteUrl }}favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ siteUrl }}favicon/favicon-16x16.png">
  <link rel="manifest" href="{{ siteUrl }}favicon/manifest.json">
  <link rel="mask-icon" href="{{ siteUrl }}favicon/safari-pinned-tab.svg" color="#f4ad17">
  <link rel="shortcut icon" href="{{ siteUrl }}favicon/favicon.ico">
  <meta name="msapplication-config" content="{{ siteUrl }}favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Meta data -->
  <meta name="description" content="{% if description is defined %}{{ description }}{% else %}{{ seoDescription }}{% endif %}" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{% if socialName is defined %}{{ socialName }}{% else %}{{ seoName }}{% endif %}">
  <meta name="twitter:description" content="{% if description is defined %}{{ description }}{% else %}{{ seoDescription }}{% endif %}">
  <meta name="twitter:image" content="{{ siteUrl }}{% if twitterImage is defined %}{% for asset in twitterImage %}{{ asset.url }}{% endfor %}{% else %}{{ seoTwitterImage }}{% endif %}">
  <meta name="twitter:creator" content="@seebokeh">

  <meta property="og:title" content="{% if socialName is defined %}{{ socialName }}{% else %}{{ seoName }}{% endif %}" />
  <meta property="og:type" content="business.business" />
  <meta property="og:url" content="{{ craft.request.url }}" />
  <meta property="og:image" content="{{ siteUrl }}{% if facebookImage is defined %}{% for asset in facebookImage %}{{ asset.url }}{% endfor %}{% else %}{{ seoFacebookImage }}{% endif %}" />
  <meta property="og:description" content="{% if description is defined %}{{ description }}{% else %}{{ seoDescription }}{% endif %}" />
  <meta property="og:site_name" content="{% if socialName is defined %}{{ socialName }}{% else %}{{ seoName }}{% endif %}" />

  <link rel="stylesheet" type="text/css" href="{{ siteUrl }}assets/css/main.css?v=2">

  <script src="{{ siteUrl }}assets/js/swiper.min.js"></script>
  <script src="{{ siteUrl }}assets/js/physics.min.js"></script>
  <script src="{{ siteUrl }}assets/js/two.min.js"></script>
  <script src="{{ siteUrl }}assets/js/physicsAnimation.min.js?v=2"></script>
  <script src="{{ siteUrl }}assets/js/breakpoints.min.js"></script>

  <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-46568601-1', 'seebokeh.com');
		  ga('send', 'pageview');

		</script>
</head>

<body id="body" class="near-black">
  <script>
    var iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
    if (iOS) {
    } else {
      document.getElementById('body').classList.add('fade-out');
    }
  </script>
  {% if craft.request.firstSegment == '' %}
  <section class="home">
  {% endif %}
  {% include 'partials/header.html' %}
  	<main id="content" role="main">
  		{% block content %}
  			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
  			<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
  		{% endblock %}
  	</main>
  {% if craft.request.firstSegment == '' %}
  </section>
  {% endif %}
  <script src="{{ siteUrl }}assets/js/app.min.js?v=2"></script>
</body>
</html>
