{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="hp-slide1 relative swiper-slide overflow-visible bg-white pt5">
      <div class="hp-video-wrapper absolute top-0 left-0 w-100">
        <div class="hp-video-container">
          <video class="w-100" src="{% for asset in entry.video %}{{ siteUrl }}{{ asset.url }}{% endfor %}" muted playsinline></video>
        </div>
        <div
          class="hp-image absolute top-0 left-0 w-100 h-100"
          style="background: url({% for asset in entry.image %}{{ siteUrl }}{{ asset.url }}{% endfor %}) no-repeat 75% 50%; background-size: cover;"></div>
        <div class="slide__imageFade absolute z-1"></div>
        <div class="hp-slide1__cover absolute top-0 left-0 w-100 h-100"></div>
        <span class="next-slide next-slide__icon absolute z-1">
          {% include 'partials/icons/chevronRight.html' %}
        </span>
        <div class="hp-slide1__overlay absolute bg-white top-0 left-0 w-100 h-100 z-2"></div>
      </div>
      <div class="hp-slide1-content relative center mw8 w-90 cf mt5-ns mt4 relative dn">
        <div class="hp-slide1__text relative z-1">
          <h2 class="hp-slide1__headline w-50-ns f1 fw7 mt5 mb4-ns mb3 black">
            We are a
            <span class="wordList">
              {% set entries = entry.taglineWordList %}
              {% for entry in entries %}
                <span class="white {% if loop.index == 1 %}fadeIn{% endif %}">{{ entry.word }}</span>
              {% endfor %}
            </span><br>
            partner for brands ready to move at the speed <br>of inspiration.
          </h2>
          <button class="fw6 pa0 next-slide bg-transparent pointer bn input-reset underline dib f4 link white mt2">View case studies</button>
        </div>
        <div class="hp-slide1__shape shape absolute"></div>
      </div>
      <!-- <div class="hp-slide1__overlay--mingle absolute top-0 h-100 z-1"></div> -->

      <style>
      /* Add custom styles from CMS for each slide as we iterate through */
      .hp-slide1 .hp-slide1__cover {
        /* background: {{ entry.color }}; */
        background: linear-gradient(270deg, {{ entry.gradientColor1 }}, {{ entry.gradientColor2 }});
        background-size: 400% 400%;
        animation: animateGradient 15s ease infinite;
      }
      @keyframes animateGradient {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
      }
      .hp-slide1 .slide__imageFade {
        background: linear-gradient(to top, #fff 0%, rgba(255,255,255,0) 100%);
      }
      .hp-slide1__overlay--mingle {
        background: linear-gradient(to top, rgba(255,255,255,0) 0%, {{ entry.color }} 90%, {{ entry.color }} 100%)
      }
      @media (min-width: 992px) {
        .hp-slide1 .slide__imageFade {
          background: linear-gradient(to left, #fff 0%, rgba(255,255,255,0) 100%);
        }
        .hp-slide1__overlay--mingle {
          background: linear-gradient(to left, rgba(255,255,255,0) 0%, {{ entry.color }} 90%, {{ entry.color }} 100%)
        }
      }
      </style>
    </div>
    {% include 'partials/feat-case-studies.html' %}
    {% include 'partials/services.html' %}
    {% include 'partials/clients.html' %}
    {% include 'partials/work.html' %}
    {% include 'partials/studio.html' %}
  </div>
</div>

<script src="{{ siteUrl }}assets/js/home.min.js"></script>
{% endblock %}
