{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="hp-slide1 relative swiper-slide overflow-visible min-vh-100 bg-white pt5">
      <div class="hp-video-wrapper absolute top-0 left-0 w-100">
        <video src="{% for asset in entry.video %}{{ siteUrl }}{{ asset.url }}{% endfor %}" class="hp-video absolute top-0 left-0 w-100 h-100" autoplay loop muted onloadedmetadata="this.muted = true"></video>
        <div
          class="hp-image absolute top-0 left-0 w-100 h-100"
          style="background: url({% for asset in entry.image %}{{ siteUrl }}{{ asset.url }}{% endfor %}) no-repeat 75% 50%; background-size: cover;"></div>
        <div class="hp-slide1__imageFade absolute top-0 left-0 w-100 h-100"></div>
        <div class="hp-slide1__cover absolute top-0 left-0 w-100 h-100"></div>
      </div>
      <div class="hp-slide1-content relative center mw8 w-90 cf dn mt5-ns mt4 relative z-2">
        <div class="hp-slide1__text">
          <h2 class="hp-slide1__headline w-70-ns f-headline-l f1 fw7 mt5 mb4-ns mb3 white text-shadow">{{ entry.body }}</h2>
          <button class="fw6 next-slide bg-transparent pointer bn input-reset underline dib f4 link black mt2">View case studies</button>
        </div>
        <div class="hp-slide1__shape absolute">
          <img src="assets/img/shapes/slide-intro.svg">
        </div>
      </div>
      <div class="hp-slide1__overlay--mingle absolute top-0 h-100 z-1"></div>

      <style>
      /* Add custom styles from CMS for each slide as we iterate through */
      .hp-slide1 .hp-slide1__cover {
        background: {{ entry.color }};
      }
      .hp-slide1 .hp-slide1__imageFade:after {
        background: linear-gradient(to top, {{ entry.color }} 0%, {{ entry.color }} 10%, rgba(255,255,255,0) 100%);
      }
      .hp-slide1__overlay--mingle {
        background: linear-gradient(to top, rgba(255,255,255,0) 0%, {{ entry.color }} 90%, {{ entry.color }} 100%)
      }
      @media (min-width: 768px) {
        .hp-slide1 .hp-slide1__imageFade:after {
          background: linear-gradient(to left, {{ entry.color }} 0%, {{ entry.color }} 10%, rgba(255,255,255,0) 100%);
        }
        .hp-slide1__overlay--mingle {
          background: linear-gradient(to left, rgba(255,255,255,0) 0%, {{ entry.color }} 90%, {{ entry.color }} 100%)
        }
      }
      </style>
    </div>
    {% include 'partials/feat-case-studies.html' %}
    {% include 'partials/work.html' %}
    {% include 'partials/studio.html' %}
  </div>
</div>

<script src="{{ siteUrl }}assets/js/home.js"></script>
{% endblock %}
